@media only screen and (max-width: 1100px) {
	.contact-details {
		padding: 0 6rem;
		text-align: left;
	}
}


@media only screen and (max-width: 1040px) {
	.style {
		padding: 4rem 7rem;
		text-align: center;
	}
	header {
		padding: 0 7rem;
	}
	.hero.style {
		padding: 4rem 7rem;
	}
	.style p {
		padding: 0 150px;
		margin-bottom: 5rem;
	}
	.contact-details {
		padding: 0 4rem;
		text-align: left;
	}
	.style h2 {
		font-size: 4rem;
		margin-bottom: 2.5rem;
	}
}

@media only screen and (max-width: 992px) {
	.style {
		padding: 3rem 5rem;
		text-align: center;
	}
	header {
		padding: 0 5rem;
	}
	.hero.style {
		padding: 3rem 5rem;
	}
	.rose {
		position: absolute;
		left: 8rem;
		top: -3rem;
	}
	.home {
		margin-bottom: 5rem;
	}
	.style h2 {
		font-size: 3rem;
	}
	.style p {
		padding: 0 100px;
		margin-bottom: 5rem;
	}
	.profile {
		background: #fff;
		position: absolute;
		bottom: -50px;
		left: 0;
		transform: translate(0);
		width: 100%;
		box-sizing: border-box;
		box-shadow: 0 5px 20px #ddd;
		padding: 20px;
		transition: all 300ms ease-in-out;
	}
	.row.appointment-row {
		padding: 0 !important;
		margin: 0 !important;
	}
	.col-lg-5 {
		display: none;
	}
	#fs-frm {
		padding: 60px;
	}
	.contact-details {
		padding: 0 2rem;
		text-align: left;
	}
	.navbar-nav {
		margin-top: 25px;
		z-index: 1;
		position: relative;
		margin-left: auto;
	}
	.client1 h2 {
		font-size: 2rem !important;
	}
}



@media only screen and (max-width: 768px) {
	.style {
		padding: 3rem 2rem;
		text-align: center;
	}
	header {
		padding: 0rem 2rem;
	}
	.hero.style {
		padding: 3rem 2rem;
	}
	.banner-img {
		display: none;
	}
	.rose {
		position: absolute;
		left: 5rem;
		top: -3rem;
	}
	.leaf {
		display: none;
	}
	.jasmine {
		display: none;
	}
	.hero h1 {
		font-size: 5rem;
	}
	.style p {
		padding: 0 50px;
		margin-bottom: 5rem;
	}
	.service1 {
		margin: 1rem 20%;
	}
	.team1 {
		margin: 5rem 20%;
	}
	#fs-frm {
		padding: 30px;
	}
	.contact-details {
		padding: 0 10rem;
		text-align: left;
	}
	.navbar-nav li a {
		font-size: 1.6rem;
		padding: 0 15px !important;
	}
	.container {
		max-width: 100% !important;
	}
	.nav-list li {
		display: none;
	}
}



@media only screen and (max-width: 600px) {
	.style {
		padding: 2rem 1rem;
		text-align: center;
	}
	header {
		padding: 0rem 1rem;
	}
	.hero.style {
		padding: 2rem 1rem;
	}
	.hero h1 {
		font-size: 4rem;
	}
	.style p {
		padding: 0 20px;
		margin-bottom: 5rem;
	}
	#fs-frm {
		padding: 10px;
	}
	.contact-details {
		padding: 0 5rem;
		text-align: left;
	}
	
}



@media only screen and (max-width: 576px) {
	.navbar-nav {
		background: #fff9f8;
		margin: 0 !important;
		margin-left: 0 !important;
		text-align: center;
		padding: 10px;
	}
	.navbar-nav li {
		padding: 10px 0;
	}
	.f1 {
		margin: 1rem 15%;
	}
	.service1 {
		margin: 1rem 15%;
	}
	.team1 {
		margin: 5rem 15%%;
	}
	.contact-details {
		padding: 0 15%;
	}
}


@media only screen and (max-width: 500px) {
	.contact-details {
		padding: 0 10%;
	}
}


@media only screen and (max-width: 460px) {
	.f1 {
		margin: 1rem 5%;
	}
	.service1 {
		margin: 1rem 5%;
	}
	.team1 {
		margin: 5rem 5%;
	}
	.contact-details {
		padding: 0 5%;
	}
}
